{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container">
<br><h1 id="firstHeading" class="firstHeading mw-first-heading">Stark Industries</h1>
<font size="4"><p><hr>
    <img src="\static\image\pic1.jpg" class="d-block w-10" alt="..."  height="230" align="right"><br>
    Stark Industries, later also known as Stark International, Stark Innovations, Stark Enterprises and Stark Resilient, is a fictional company appearing in American comic books published by Marvel Comics. The company is depicted as being owned and run by businessman Tony Stark, who is also known as Iron Man. It first appeared in Tales of Suspense No. 40 (April 1963) and was founded by Tony's father, Howard Stark. According to Forbes 25's "Largest Fictional Companies" it had an estimated sales of $20.3 billion, ranking it at number 16.<br>
    
    In the Marvel Cinematic Universe, Stark Industries has a logo similar to that of defense contractor Lockheed Martin and is listed on the New York Stock Exchange as SIA. During the press conference scene, Stark is seen entering a building that resembles the entrance to Lockheed Martin's Skunk Works facility. An airplane extremely similar to the Lockheed YF-22 stood as a statue in front of the Stark Industries facility, exactly like the prototypes on display at Skunk Works facility in Palmdale, California.
</p></font>
<hr>
<h2><span class="mw-headline" id="History">History</span><span class="mw-editsection"><span class="mw-editsection-bracket"></h2>

    <font size="4"> Stark Industries was founded by Isaac Stark, Sr. in the 19th century and later taken over by Howard Stark and then by his son Tony, after his death. Over the years, through bankruptcy, Tony's "death", Tony's return and hostile takeovers, the company has gone through many name changes including Stark International, Stark Enterprises, Stark/Fujikawa and Stark Solutions.</font>
    
<br><br><h4><span class="mw-headline" id="Stark_Industries">Stark Industries</span><span class="mw-editsection"><span class="mw-editsection-bracket"></h4>

    <h5><span class="mw-headline" id="Functions">Functions</span><span class="mw-editsection"><span class="mw-editsection-bracket"></h5>
        <font size="4"><p>Stark Industries is primarily a defense company that develops and manufactures advanced weapons and military technologies. The company manufactures the armor worn by Iron Man and War Machine. It builds the helicarriers used by S.H.I.E.L.D, and it produces the Quinjets used by the Avengers</p></font>

<h6><span class="mw-headline" id="Staff">Staff</span><span class="mw-editsection"><span class="mw-editsection-bracket"></h6>

    <ul><li><b>Tony Stark</b> – Chairman of Stark Industries</li>
        <li><b>Obadiah Stane</b> – Executive Officer (deceased)</li>
        <li><b>Happy Hogan</b> – Former head of Security</li>
        <li><b>Pepper Potts</b> – CEO</li>
        </ul>
    </div>




{% endblock body %}


